{% extends '@DdrCrudAdmin/base.html.twig' %}

{% block ddr_crud_admin_title %}{{ title }}{% endblock ddr_crud_admin_title %}

{% block ddr_crud_admin_header %}
    <div class="ddr-page-header ddr-action-container">
        <h1 class="ddr-content">{{ title }}</h1>
        <div class="ddr-actions">
            {% block ddr_crud_admin_read_actions %}
                {% if (routes.UPDATE is defined and is_granted('UPDATE', entity)) or (routes.READ is defined and is_granted('READ', entity)) %}
                    <div class="dropdown">
                        <button class="dropdown-toggle ddr-no-caret btn btn-link btn-lg ddr-btn-icon"
                                type="button"
                                id="dropdownMenuButton"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                        >
                            <span class="fas fa-fw fa-ellipsis-v"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            {% if routes.UPDATE is defined and is_granted('UPDATE', entity) %}
                                <a class="dropdown-item" href="{{ path(routes['UPDATE'], {'id':entity|ddrCrudAdminId}) }}">
                                    Edit
                                </a>
                            {% endif %}
                            {% if routes.DELETE is defined and is_granted('DELETE', entity) %}
                                <a class="dropdown-item" href="{{ path(routes['DELETE'], {'id':entity|ddrCrudAdminId}) }}">
                                    Delete
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endblock ddr_crud_admin_read_actions %}
        </div>
    </div>
{% endblock ddr_crud_admin_header %}

{% block ddr_crud_admin_content %}

    <dl>
        {% for fieldDefinition in fieldDefinitions %}
            <dt>{{ fieldDefinition.label|trans({}) }}</dt>
            <dd>{{ entity|ddrCrudAdminFieldDefinitionValue(fieldDefinition) }}</dd>
        {% endfor %}
    </dl>

{% endblock ddr_crud_admin_content %}
