{% extends '@DdrCrudAdmin/base.html.twig' %}

{% set fieldDefinitions = ddrCrudAdminFieldDefinitions(entityClass,'LIST') %}
{% set translationDomain = ddrCrudAdminTranslationDomain(entityClass) %}
{% set title = ddrCrudAdminTitle(entityClass,'LIST') %}

{% block ddr_crud_admin_title %}{{ title }}{% endblock ddr_crud_admin_title %}

{% block ddr_crud_admin_header %}
    <div class="py-3 mb-4 border-bottom d-flex">
        <h1 class="mb-0 align-self-center flex-fill">{{ title }}</h1>
        <div class="d-inline-flex align-self-center">
            {% set createRoute = ddrCrudAdminPath(entityClass,'CREATE') %}
            {% if createRoute is not null and is_granted('CREATE', entityClass) %}
                <a class="btn btn-primary btn-lg" href="{{ createRoute }}">
                    {{ 'CREATE'|trans({}, 'DdrCrudAdmin') }}
                </a>
            {% endif %}
        </div>
    </div>
{% endblock ddr_crud_admin_header %}

{% block ddr_crud_admin_content %}

    {{ knp_pagination_render(entities) }}

    {% set filterFields = [] %}
    {% for fieldDefinition in fieldDefinitions %}
        {% if fieldDefinition.filterable %}
            {% set filterFields = filterFields|merge({("entity." ~ fieldDefinition.propertyPath): fieldDefinition.propertyPath|humanize|trans({}, translationDomain)}) %}
        {% endif %}
    {% endfor %}

    {% if filterFields is not empty %}
        {{ knp_pagination_filter(entities, filterFields) }}
    {% endif %}

    <table class="table table-sm table-bordered">
        <thead>
        <tr class="text-nowrap">
            {% for fieldDefinition in fieldDefinitions %}
                {% if fieldDefinition.sortable %}
                    <th>{{ knp_pagination_sortable(entities, fieldDefinition.propertyPath|humanize|trans({}, translationDomain), 'entity.'~fieldDefinition.propertyPath) }}</th>
                {% else %}
                    <th>{{ fieldDefinition.propertyPath|humanize|trans({}, translationDomain) }}</th>
                {% endif %}
            {% endfor %}
            {% block ddr_crud_admin_list_entity_actions_header %}
                <th style="width: 1%"></th>
            {% endblock ddr_crud_admin_list_entity_actions_header %}
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                {% for fieldDefinition in fieldDefinitions %}
                    <td>{{ entity|ddrCrudAdminFieldDefinitionValue(fieldDefinition) }}</td>
                {% endfor %}
                {% block ddr_crud_admin_list_entity_actions %}
                    <td style="width: 1%" class="dropdown">
                        <a class="dropdown-toggle ddr-no-caret"
                           type="button"
                           id="dropdownMenuButton"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false"
                        >
                            {{ 'ACTIONS'|trans({}, 'DdrCrudAdmin') }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            {{ include('@DdrCrudAdmin/list.entity.actions.dropdown-content.partial.html.twig') }}
                        </div>
                    </td>
                {% endblock ddr_crud_admin_list_entity_actions %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock ddr_crud_admin_content %}
