{% extends '@DdrCrudAdmin/base.html.twig' %}

{% block ddr_crud_admin_title %}{{ 'READ'|ddrCrudTitle(entity) }}{% endblock ddr_crud_admin_title %}

{% block ddr_crud_admin_header %}
    <div class="py-3 mb-4 border-bottom d-flex">
        <h1 class="mb-0 align-self-center flex-fill">{{ 'READ'|ddrCrudTitle(entity) }}</h1>
        <div class="d-inline-flex align-self-center">
            {% block ddr_crud_admin_read_actions %}
                {% set updateRoute = 'UPDATE'|ddrCrudPath(entity) %}
                {% set deleteRoute = 'DELETE'|ddrCrudPath(entity) %}
                {% if (updateRoute is not null or deleteRoute is not null) %}
                    <div class="dropdown">
                        <button class="dropdown-toggle btn btn-lg btn-primary"
                                type="button"
                                id="dropdownMenuButton"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                        >
                            {{ 'ACTIONS'|trans({}, 'DdrCrudAdmin') }}
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            {% if updateRoute is not null and is_granted('UPDATE', entity) %}
                                <a class="dropdown-item" href="{{ updateRoute }}">
                                    {{ 'UPDATE'|trans({}, 'DdrCrudAdmin') }}
                                </a>
                            {% endif %}
                            {% if deleteRoute is not null and is_granted('DELETE', entity) %}
                                <a class="dropdown-item" href="{{ deleteRoute }}">
                                    {{ 'DELETE'|trans({}, 'DdrCrudAdmin') }}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endblock ddr_crud_admin_read_actions %}
        </div>
    </div>
{% endblock ddr_crud_admin_header %}

{% block ddr_crud_admin_content %}

    <dl>
        {% set fieldDefinitions = 'READ'|ddrCrudFieldDefinitions(entity) %}
        {% for fieldDefinition in fieldDefinitions %}
            <dt>{{ fieldDefinition.propertyPath|humanize|trans({}, 'READ'|ddrCrudTranslationDomain(entity)) }}</dt>
            <dd>{{ entity|ddrCrudAdminFieldDefinitionValue(fieldDefinition) }}</dd>
        {% endfor %}
    </dl>

{% endblock ddr_crud_admin_content %}
